<!DOCTYPE html>
<html lang="en">
<head>


    #parse("metaTagsTemp.vm")
    #parse("cssTemp.vm")
    <title>Hourly|main</title>
</head>
<body id="page1" onload="clearCache();getStatus()">
    #if($admin)
        #parse("adminNav.vm")
    #{else}
    #parse("header.vm")
   #end
<p class="spring">$name</p>
<div class="container timeEnter">
    <div class="row">
        <div class="col-12">
            <p class="enterTime" id="workTime">$workedToday</p>

        </div>
    </div>
</div>
</br>
</br>
</br>


<div class="container-fluid ent">
    <button class="knisa" onclick="changeImage()" method="post" action="/updateWorkTime"  data-target="#myModal"><img class="img-fluid" src=$url id="enterBtn"></button>
</div>
<!-- Modal  -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modWind">
            <div class="modal-header headStyle">
                <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p2 class="fontModStyle">אז מה עשית היום?</p2>
            </div>


            <div>
                <div class="form-group">
                    <textarea class="inpForm1" rows="4" cols="50" class="form-control" name="commentary" id="exampleFormControlInput1" placeholder="הסבר" ></textarea>
                </div>
                <button type="button" onclick="repComment()" class="close" data-dismiss="modal" class="btn btn-sm okBtn"  ><img src="css/images/okBtn.png"class="img-fluid okBtnImg2"></button>
            </div>

        </div>
    </div>
</div>

<div class="container workedDay">
    <div class="row">
        <div class="col-12 ">
            #foreach( $timeWork in $timeWorkList )
                <p class="enterTime">$timeWork</p>
            #end
            <p class="enterTime" id="hide"></p>

        </div>
    </div>
</div>

<div class="container workedMonth">
    <div class="row">
        <div class="col-12">
            <p class="enterTime">$timeWorkMonth</p>
        </div>
    </div>
</div>
    #parse("jsTemp.vm")

</body>
</html>